<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net47" developmentDependency="true" />
  <package id="Fody" version="2.2.0" targetFramework="net47" developmentDependency="true" />
  <package id="Nefarius.ViGEmClient" version="1.15.16" targetFramework="net47" />
</packages>